.list-item{
    width: fit-content;
    height:100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    background-color: #282b77;
    color: white;
    padding: 15px;
    margin:0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.list-item-hide{
    transform: translateX(-100%);
    transform: translateY(-100%);
}
li{
    list-style: none;
}
span{
    display: flex;
    align-items: center;
}
p{
    font-family: 'Verdana';
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-left: 1vw;
}
.menu-option{
    height: 8vh;
    cursor: pointer;
}
.options{
    cursor: pointer;
}
