.button{
    border: solid gray 1px;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    padding-inline: 30px;
    background-color: #ffffff;
}

#icon{
    height:70px;
    width: 80px;
}
h1{
    margin-top: 0;
}